@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
.top .bottom {
  background: rgb(155, 210, 232);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: rgb(107, 75, 37);
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
